# Only install AutoAWQ with x86-64
autoawq[kernels]==0.2.7.post2; platform_machine == "x86_64" or platform_machine == "AMD64"

# Base requirements
matplotlib
streamlit
txtai[graph,pipeline-data,pipeline-llm]
